html,
body,
main {
    height: 95.5%;

}

body {
    min-width: 320px;
    background-color: wheat;
}

main {
    display: 1 1 flex;
}

footer {
    height: 60px;
    color: white;
    background-color: black;
}