RewriteEngine On
# if file !exist then go to RewriteRule (.*) index.php>$1
RewriteCond %{REQUEST_FILENAME} !-f
# [L, QSA] is needed for working with get requests. See more about parse_url with $_SERVER['REQUEST_URL'];
RewriteRule (.*) index.php?$1 [L,QSA]
